<style>
  h1{
    color:goldenrod;
  }
  body{
    background:lightblue;
  }
 a{
  display: inline-block;
  color: HOTPINK;
  text-decoration: none;
  border: 2.5px solid REBECCAPURPLE;
  transition: 300ms;
  border-radius: 10px;
  padding: 3px;
}
 a:hover{
  color: MOCCASIN;
}
 a:active{
  color: DEEPSKYBLUE;
}
  li a{
   margin-top: 10px;
   display: inline-block;
   color: black;
   text-decoration: none;
   border: 2.5px solid sienna;
   transition: 300ms;
   border-radius: 10px;
   padding: 3px;
    }
  li a:hover {
  color: olive;
  }
  img {
  width: 30%
  }
</style>

<nav>
  <a href='/'>Home</a>
  <a href='/about'>About</a>
  <a href='/contact-us'>Contact</a>
  <a href='/book'>Books</a>
</nav>

{{content}}

